!!! 5
html
	head
		title= title
		link(rel='stylesheet', href='/admin/css/style.css')
		link(rel='stylesheet', href='/admin/css/jquery.qtip.css')
		script(src='/admin/js/lib/jquery-1.4.2.min.js')
		script(src='/admin/js/lib/jquery.qtip.js')
	body
		block content